/home/jaspreet/.bash_history:pip install flask
/home/jaspreet/.bash_history:pip install Flask
/home/jaspreet/.bash_history:pip install mysql-connector
/home/jaspreet/.bash_history:pip install Pillow
/home/jaspreet/.bash_history:pip install opencv-python
/home/jaspreet/.bash_history:pip3 install opencv-python
/home/jaspreet/.bash_history:pip install flask-wtf
/home/jaspreet/.bash_history:pip install email_validator
/home/jaspreet/.bash_history:pip install flask-bcrypt
/home/jaspreet/.bash_history:pip install flask-sqlalchemy
/home/jaspreet/.bash_history:pip install flask-login
/home/jaspreet/.bash_history:pip install flask-appbuilder

apt-get install -y libsm6 libxext6 libxrender-dev
pip install opencv-python

/home/jaspreet/.bash_history:pip install passlib
/home/jaspreet/.bash_history:pip install pyodbc
