{% extends "base.html" %}


{% block hero %}
  
	<div class="col-lg-10" >
		<form method="POST" action="">
			
			{{  form.hidden_tag() }}
			
			<fieldset class="form-group">
				
				<legend class="border-bottom mb-4", style="color:#fff; font-size: 3rem">Login</legend>


				<div class="form-group">
					{{ form.email.label(class = "form-control-label", style="color:#fff;font-size: 17px;") }}
					{{ form.email(class = "form-control form-control-lg") }}
				</div>
				
				<div class="form-row">
					<div class="col-md-6 form-group">
						{{ form.password.label(class = "form-control-label", style="color:#fff;font-size: 17px;") }}
						{{ form.password(class = "form-control form-control-lg") }}
					</div>
				</div>
			
				<div class="form-check">
					{{ form.remember(class="form-check-input") }}
					{{ form.remember.label(class="form-check-label", style="color:#fff;font-size: 17px;") }}
				</div>


			</fieldset>

			<div class="form-group text-left" style="color:#fff;">
				{{ form.submit(class = "btn btn-get-started btn-outline-info") }}
			</div>

			<small >
				<a href="#">Forgot Password?</a>
			</small>


		</form>
	</div>

	


	<div class="border-top pt-3 text-left">
		<small class="">
			Don't have an account? 
			<a href="{{ url_for('register') }}" class="btn-get-started scrollto">Sign Up</a>
		</small>
	</div>




{% endblock hero %}